<a href="https://colab.research.google.com/github/rajeshwary1234/Assignment-1/blob/main/Assignment_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Types and Structures Questions

1. What are data structures, and why are they important?
 - Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They are important because they help manage and process data effectively, making programs faster and more efficient.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be changed after they are created, while immutable data types cannot.
Examples:
 - Mutable: List → my_list = [1, 2, 3] (you can add or change elements)
 - Immutable: Tuple → my_tuple = (1, 2, 3) (you can't modify elements)

3. What are the main differences between lists and tuples in Python?
 - The main differences are:
 - Mutability: Lists are mutable (can be changed), tuples are immutable.
 - Syntax: Lists use square brackets [], tuples use parentheses ().
 - Performance: Tuples are generally faster and use less memory than lists.
 - Use case: Lists are used for dynamic data, tuples for fixed collections.

4. Describe how dictionaries store data?
 - Dictionaries store data as key-value pairs, where each unique key maps to a specific value. They use a hash table internally for fast lookups, insertions, and deletions.

5. Why might you use a set instead of a list in Python?
 - You might use a set instead of a list when you need to store unique items and want fast membership testing, as sets automatically remove duplicates and offer faster lookups.

6. What is a string in Python, and how is it different from a list?
 - A string in Python is an immutable sequence of characters, while a list is a mutable sequence that can hold elements of any data type. Strings can't be changed after creation; lists can.

7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity by being immutable, meaning their contents can't be changed after creation, which prevents accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that maps keys to values using a hash function for fast access. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain different data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python?
 - Strings are immutable in Python to improve performance and security, as well as to allow safe sharing and use in hash-based structures like dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer faster lookups, insertions, and deletions using keys, while lists require sequential searching. They are ideal for tasks where you need to associate values with unique keys.

12. Describe a scenario where using a tuple would be preferable over a list.
 - A tuple would be preferable over a list when you need to store a fixed collection of items, such as coordinates or RGB values, where data integrity is important and no modifications are required.

13. How do sets handle duplicate values in Python?
 -  Sets automatically remove duplicate values, ensuring that each element is unique. If you try to add a duplicate, it won't be included.

14. How does the “in” keyword work differently for lists and dictionaries?
 - For lists, the `in` keyword checks if a value exists in the list. For dictionaries, it checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
 - No, you cannot modify the elements of a tuple because tuples are immutable, meaning their contents cannot be changed once created.

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where the values are other dictionaries. It’s useful for representing hierarchical data, like storing information about multiple users, each with their own attributes.

Example:
     {
    "alice": {"age": 30, "city": "New York"},
    "bob": {"age": 25, "city": "Los Angeles"}
}
This allows accessing a user's attributes like users["alice"]["age"].

17. Describe the time complexity of accessing elements in a dictionary.
 - Accessing elements in a dictionary has an average time complexity of O(1), meaning it’s done in constant time, thanks to the underlying hash table structure. However, in rare cases, it could be O(n) if there are hash collisions.

18. In what situations are lists preferred over dictionaries.
 - Lists are preferred over dictionaries when the order of elements matters, or when you need to store a collection of items without key-value pairs, especially when the data is accessed sequentially.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because the key-value pairs are stored based on their hash values, not in any specific order. However, this does not affect data retrieval, as keys can still be accessed efficiently in constant time (O(1)), regardless of order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - In a list, data is retrieved by index, which requires sequential searching (O(n) for unsorted lists). In a dictionary, data is retrieved using keys, offering faster access in constant time (O(1)) due to the hash table structure.

In [ ]:
#Practical Questions

#1. Write a code to create a string with your name and print it.

name = "Rajeshwary"
print(name)

Rajeshwary

In [ ]:
#2. Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
modified_string = string.replace("apple", "orange")
print(modified_string)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # Indexing starts at 0, so index 1 is the second element
print(second_element)

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]  # Negative indexing to access from the end
print(second_to_last)

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

#Alternatively, you can use the | operator for the union:

union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

#Alternatively, you can use the & operator for the intersection:

intersection_set = set1 & set2
print(intersection_set)

{2, 3}
{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[16, 31, 41, 70, 83]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
# Creating a list with strings
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Printing the element at the third index (index starts at 0)
print(my_list[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print(combined_dict)

#This will combine dict1 and dict2 into combined_dict and print the result:
{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
# Creating a list of strings
my_list = ['apple', 'banana', 'cherry', 'apple']

# Converting the list into a set
my_set = set(my_list)

# Printing the set
print(my_set)

#This will convert the list into a set, automatically removing any duplicate elements (like 'apple' in this case). The output might look like:
{'banana', 'cherry', 'apple'}

{'cherry', 'banana', 'apple'}

{'apple', 'banana', 'cherry'}